<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

    <div id="app">
        <h1>
            Gerenciar contas.
        </h1>

        <div id="newUser">
            <fieldset>
                <legend>Novo usuário</legend>

                <input type="text" placeholder="Nome" v-model="newUser.name" />
                <input type="text" placeholder="Email" v-model="newUser.email" />
                <input type="text" placeholder="Senha" v-model="newUser.password" />
                <button @click="insertUser()">Cadastrar</button>

            </fieldset>
        </div>



        <div id="selectUser">
            <fieldset>
                <legend>Usuários</legend>

                <select size="5">
                    <option v-for="user in users" @click="selectUser(user)">
                        {{ user.name }}
                    </option>
                </select>
            </fieldset>
        </div>

        <template v-if="currentUser">

            <div id="account">
                <fieldset>
                    <legend>Conta</legend>
                    Nome: <strong> {{ currentUser.name}} </strong><br />
                    Email: <strong> {{ currentUser.email}} </strong><br />
                    Saldo: <strong> R$ {{ currentUser.account.amount.toFixed(2) }} </strong>

                    <br />
                    <br />
                    <button @click="deleteUser()">DELETAR USUÁRIO</button>
                </fieldset>
            </div>

            <div id="deposit">
                <fieldset>
                    <legend>Deposito</legend>

                    <label>Valor (R$):</label>
                    <input type="text" v-model.number="depositAmount" />
                    <button @click="deposit()">CONFIRMAR</button>
                </fieldset>
            </div>

            <div id="withdraw">
                <fieldset>
                    <legend>Resgate</legend>

                    <label>Valor (R$):</label>
                    <input type="text" v-model.number="withdrawAmount" />
                    <button @click="withdraw()">CONFIRMAR</button>
                </fieldset>
            </div>

            <div id="payment">
                <fieldset>
                    <legend>Fazer um pagamento</legend>

                    <label>Recebedor:</label>
                    <input type="text" v-model="paymentData.receiver" />

                    <label>Valor (R$):</label>
                    <input type="text" v-model.number="paymentData.amount" />
                    <button @click="payment()">CONFIRMAR</button>
                </fieldset>
            </div>

            <div id="history">
                <fieldset>
                    <legend>Histórico</legend>

                    <table>
                        <thead>
                            <th>Descricao</th>
                            <th>Data</th>
                            <th>Valor</th>
                            <th>Saldo</th>
                        </thead>
                        <tr v-for="transaction in accountHistory">
                            <td>{{ transaction.description }}</td>
                            <td>{{ transaction.createdAt | formatDate}}</td>
                            <td>R$ {{ transaction.amount.toFixed(2) }}</td>
                            <td>R$ {{ transaction.accountAmount.toFixed(2) }}</td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </template>
    </div>

    <script>
        axios.defaults.baseURL = 'http://localhost:3000'

        Vue.use({
            install(Vue) {
                Vue.prototype.$http = axios
            }
        })


        var app = new Vue({
            el: '#app',

            mounted() {
                this.getAllUsers()
            },

            data: {
                newUser: { name: '', email: '', password: '' },
                users: [],
                currentUser: null,
                depositAmount: 0,
                withdrawAmount: 0,
                accountHistory: [],
                paymentData: { receiver: '', amount: 0 }
            },

            methods: {
                getAllUsers() {
                    axios.get('/users').then(users => {
                        this.users = users.data
                    })
                },

                selectUser(user) {
                    this.currentUser = user
                    this.getHistory()
                },

                insertUser() {
                    if (!this.newUser.name || !this.newUser.email || !this.newUser.password) {
                        return
                    }
                    axios.post('/users', this.newUser).then(() => {
                        this.newUser = { name: '', email: '', password: '' }
                        this.getAllUsers()
                    })
                },

                deposit() {
                    let amount = this.depositAmount
                    let accountId = this.currentUser.account.id
                    axios.post('/accounts/' + accountId + '/deposit', { amount }).then(() => {
                        this.depositAmount = 0
                        return this.reloadCurrentUser()
                    }).then(() => {
                        this.getHistory()
                    })
                },

                withdraw() {
                    let amount = this.withdrawAmount
                    let accountId = this.currentUser.account.id
                    axios.post('/accounts/' + accountId + '/withdraw', { amount }).then(() => {
                        this.withdrawAmount = 0
                        return this.reloadCurrentUser()
                    }).then(() => {
                        this.getHistory()
                    })
                },

                payment() {
                    let accountId = this.currentUser.account.id
                    axios.post('/accounts/' + accountId + '/payment', {
                        receiver: this.paymentData.receiver,
                        amount: this.paymentData.amount
                    }).then(() => {
                        this.paymentData.receiver = ''
                        this.paymentData.amount = 0
                        return this.reloadCurrentUser()
                    }).then(() => {
                        this.getHistory()
                    })
                },

                getHistory() {
                    let accountId = this.currentUser.account.id
                    axios.get('/accounts/' + accountId + '/history').then((history) => {
                        this.accountHistory = history.data
                    })
                },

                reloadCurrentUser() {
                    let userId = this.currentUser.id
                    axios.get('/users/' + userId).then((user) => {
                        this.currentUser = user.data
                    })
                },

                deleteUser() {
                    let userId = this.currentUser.id
                    axios.delete('/users/' + userId).then((user) => {
                        this.currentUser = null
                        this.getAllUsers()
                    })
                }
            }
        })

        Vue.filter('formatDate', function (dtString) {
            let dt = new Date(dtString)
            if (dt) {
                dt.setHours(dt.getHours())
                return dt.getUTCDate() +'/'+ dt.getMonth() +'/'+ dt.getFullYear() +' '+ dt.getHours() +':'+ dt.getMinutes()
            }
        })
    </script>
</body>

</html>